.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
}

.title {
    font-size: 120px;
}

.object {
    margin-bottom: 10px;
}
.base{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

input {
    width: 200px;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
    border: solid;
    border-width: 3px;
    border-color: rgb(255, 199, 244);
    font-size: large;
    transition: border-color 1s;
}

#bttn {
    background-color: rgb(255, 199, 244);
    border: none;
    width: 200px;
    height: 47px;
    font-size: large;
    color: white;
    transition: background-color 0.5s;
}

input:hover {
    border-color: rgb(245, 106, 215);
}

input:focus-visible {
    outline: 0px;
    border-color: rgb(245, 106, 215);
}

#bttn:focus-visible {
    outline: 0px;
    border-color: rgb(245, 106, 215);
}

#bttn:active {
    background-color: rgb(245, 106, 215);
}

#bttn:hover {
    background-color: rgb(245, 106, 215);
}

#trash {
    font-size: 24px;
}
